{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menú</title>

    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>

<body>
    <h1>Panel de Gestión RETAIL</h1>
    <img src="/static/images/estaticas/django.png"
        alt="Error en la carga de la imagen"
        width="100">
    <p>Sistema de administración de servicios y precios</p>
    <a class="card" href="/informacion/">
        <div class="title">Información</div>
        <div class="desc">Ver detalles del sistema</div>
    </a>
    <a class="card" href="/servicios/login/">
        <div class="title">Formulario de ingreso</div>
        <div class="desc">Acceso al sistema CRUD</div>
    </a>
</body>
</html>
